[Desktop Entry]
Name=RViz
Comment=RViz
Exec=bash -c "source /opt/ros/kinetic/setup.bash&& rosrun rviz rviz"
Icon=/opt/ros/kinetic/share/rqt_gui/resource/rqt.png
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
Keywords=terminal;shell;prompt;command;commandline;
